services:
  traefik:
    container_name: "traefik"
    image: "docker.io/library/traefik:latest"
    networks:
      - traefik-network
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    restart: unless-stopped
    volumes:
      - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
      - ./traefik.yml:/etc/traefik/traefik.yml:z
    security_opt:
      - label=disable

networks:
  traefik-network:
    external: true
