name: Aikido Security Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  aikido-security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Detect new vulnerabilities
        uses: AikidoSec/github-actions-workflow@v1.0.13
        with:
          secret-key: ${{ secrets.AIKIDO_SECRET_KEY }}
          fail-on-timeout: true
          fail-on-dependency-scan: true
          fail-on-sast-scan: false
          fail-on-iac-scan: false
          minimum-severity: "MEDIUM"
          timeout-seconds: 180
          post-scan-status-comment: "off"
          post-sast-review-comments: "off"
          github-token: ${{ secrets.GITHUB_TOKEN }}
